<div class="layout-root">

  <!-- NAVBAR -->
  <app-navbar></app-navbar>

  <!-- MAIN WRAPPER -->
  <div class="layout-body">

    <!-- MAIN CONTENT -->
    <main class="layout-content">
      <router-outlet></router-outlet>
    </main>

    <!-- RIGHT VISUAL (DESKTOP ONLY) -->
    <!-- <aside class="law-visual">
      <img
        src="assets/images/indian-law-illustration.png"
        alt="Indian Law Awareness"
      />
    </aside> -->

  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
